

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

:root {
    /*--background-color: white;*/
    --glass-color: rgba(255, 255, 255, 0.3);
    --border-color: rgba(255, 255, 255, 0.18);
}

body {
    /*background-color: var(--background-color);*/
    font-family: 'Open Sans', sans-serif;
    
}


.glassmorphism {
    background: var(--glass-color);
    border: 1px solid var(--border-color);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 5px;
}

.content {
    display: flex;
    align-items:stretch;
}

.profile-image {
    
    width: 200px;
    height: auto;   
}

.contact-info {
    background: white;
    padding: 15px;
    font-size: 14px;
   
}

.profile-image, .contact-info{
    flex: 1;
    object-fit: cover;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 10px 0;
    color: black;
    font-family: 'Kalnia', serif;
    font-weight:bold;
}

h2,h5,h6 {
    font-family: 'Kalnia', serif;
    font-weight: bold;
}


.background-img {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 50%; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.social-links {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0; 
    padding: 10px 0;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    
}

table {
    
    border: 3px solid black;
    width: 100%;
    table-layout: fixed;
   
}

.table-responsive{
    display: block;
    width: 80%;
    margin: 0 auto
}

/* Mindre text på mindre skärmar */
@media (max-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 90%;
    }

    .table th, .table td, p {
        font-size: 12px; 
    }
}

/* Större text på större skärmar */
@media (min-width: 992px) {
    h1 {
        font-size: 2.5rem; 
    }

    .table th, .table td {
        font-size: 16px; 
    }
}


